body {
  box-sizing: border-box;
  background-color: rgba(26, 26, 26);
  font-family: 'Roboto';
}
.form-control {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  border-radius: 8px;
}
.text_grey {
  color: #888;
}
.alternate {
  background-color: #282828 !important;
}
.question_link {
  color: #fff !important;
  font-size: 18px;
}
.easy {
  color: #00B8A3;
}
.medium {
  color: #FFC01E;
}
.hard {
  color: #FF375F;
}
.solution_icon {
  color: #0A84FF;
}
.video_icon {
  color: #BF5AF2;
}
.badge {
  font-weight: normal;
  font-size: 14px;
}
.badge_category {
  color: #FFA116;
  border: 2px solid #FFA116;
  background-color: rgba(255, 161, 22, 0.2);
}
.badge_tags {
  color: #00D6D6;
  border: 2px solid #00D6D6;
  background-color: rgba(0, 214, 214, 0.2);
}
.has-search .form-control {
  padding-left: 2.5rem;
  color: #bbb;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #bbb;
}